# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ticket_db
MYSQL_USER=ticket_user
MYSQL_PASSWORD=ticket_pass

# FastAPI
DATABASE_URL=mysql+aiomysql://ticket_user:ticket_pass@localhost:3307/ticket_db
N8N_WEBHOOK_URL=http://localhost:5678/webhook/ticket-triage

# Groq
GROQ_API_KEY=xxxx

# n8n → callback ke FastAPI
FASTAPI_CALLBACK_URL=http://host.docker.internal:8000/tickets

